.inputwIthControls {
    button {
        width:25px;
        height: 25px;
        border: 1px solid black;
        cursor: pointer;
        
    }
    input {
        width: 45px;
        height:45px ;
        margin:0 10px;
        text-align: center;
    }
}