.auth {
    background:linear-gradient(25deg,var(--primary),var(--secondary)) ;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    position: relative;
    .language {
        position: absolute;
        right:5px;
        top:5px;
        direction: rtl;

        display: flex;
        justify-content: center;

    }

    .authform {
        height:600px;
        width:fit-content;
        background-color: white;
        margin:auto;
        padding:1rem;
        border-radius: 10px;
        box-shadow: 4px 4px 4px gray;
        max-width: 600px;
        position: relative;
    }
}